{% extends 'flatpages/default.html' %}

{% block title %}
Сategory
{% endblock title %}

{% block content %}
<table>
    <thead>
        <th>
            Категории
        </th>
    </thead>
     {% for Сategory in Сategory %}
    <tr>
       <td>
            {{ Сategory.name }}
            {% if is_subscribe %}
                <a href="{% url 'del_subscribe' Сategory.id %}">Отписаться</a>
            {% else %}
                <a href="{% url 'add_subscribe' Сategory.id %}">Подписаться</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}